/* this also affects all other i styles, will need to correct and make more specific */

i {
  font-size: 50px;
  padding: 20px;
}

.scrolltotop > a > i {
  position: fixed;
  z-index: 10;
  bottom: 5px;
  right: 5px;
}

.scrolltotop {
  text-align: center;
}

@media only screen and (max-width: 600px) {
  .scrolltotop > a > i {
    position: static;
  }
}
