.projectcontainer>a>img {
  border-radius: 50%;
  width: 250px;
  height: 250px;
  margin: 20px;
  box-shadow: 0 7px 20px 0 rgba(0, 0, 0, 0.2), 0 4px 10px 0 rgba(0, 0, 0, 0.2);
}

.projectcontainer>h3 {
  text-align: center;
  line-height: 200px;
  color: white;
}

.portfoliocontainer {
  display: flex;
  justify-content: center;
  margin: 25px 0px 100px 0px;
  position: relative;
  flex-wrap: wrap;
}

img {
  border-radius: 50%;
  transition: 0.5s ease;
}

.projecttitle:hover {
  transition: 0.5s ease;
  opacity: 1;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}

.projectcontainer {
  position: relative;
}

.title {
  font-size: 40px;
  position: absolute;
  right: 60px;
  top: 100px;
  text-align: center;
}

.tile2title {
  right: 65px;
}

.tile3title {
  right: 80px;
}

.tile4title {
  right: 30px;
}

.tile5title {
  right: 75px;
}

.tileimg {
  filter: brightness(55%);
}

.tileimg:hover {
  filter: brightness(80%);
}

/* mobile styles  */

@media only screen and (max-width: 600px) {
  .portfoliocontainer {
    flex-wrap: wrap;
  }

  .projectcontainer>a>img {
    width: 250px;
    height: 250px;
  }
}