/* desktop styles */
nav > a {
    text-decoration: 	none currentcolor solid;
    color: #f7f9f9; 
    margin: 15px; 
    font-size: 30px; 
    text-shadow: 2px 4px 3px rgba(0,0,0,0.3);
}

.navcontainer {
    position: fixed;
    display: flex; 
    justify-content: center;
    width: 100%;
    background-color: #4F646F;
    padding: 20px; 
    box-shadow: 0 7px 20px 0 rgba(0,0,0,0.2), 0 4px 10px 0 rgba(0,0,0,0.2);
    z-index: 10; 
}

/* mobile styles */

@media only screen and (max-width: 600px) {
    nav > a {
        font-size: 15px; 
        margin: 10px;
    }

    .navcontainer {
        width: 100vw;
        padding: 10px 5px;
    }
}
