body {
  font-family: "Oswald", sans-serif;
  background-image: radial-gradient(
    circle farthest-corner at 10% 20%,
    rgba(90, 92, 106, 1) 0%,
    rgba(32, 45, 58, 1) 81.3%
  );
  -webkit-background-size: 100%;
  -moz-background-size: 100%;
  -o-background-size: 100%;
  background-size: 100%;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

/* mobile styles  */

@media only screen and (max-width: 600px) {
  body {
    background-image: none;
    background-color: rgba(90, 92, 106, 1);
  }
}
