.profile {
  height: 400px;
  width: 300px;
  margin: 0 auto;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  filter: grayscale(100%);
}

.aboutmecontainer {
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding-top: 100px;
  padding-bottom: 50px;
}

.skills {
  color: #f7f9f9;
  font-size: 100px;
  list-style-type: none;
  margin-left: 100px;
  font-style: italic;
}

blockquote {
  color: #f7f9f9;
  width: 50%;
  height: 100%;
  font-size: 35px;
  border-left: 5px solid #4f646f;
  padding-left: 20px;
  margin: 0 auto;
  text-shadow: 2px 4px 3px rgba(0, 0, 0, 0.3);
}

/* mobile styles  */

@media only screen and (max-width: 600px) {
  blockquote {
    width: 75%;
  }
}
